@import "../css/fonts.css";

/* Navbar Styles */

.nav {
  width: 100%;
}

button:focus {
  outline: 0;
}

.liz-video-dress:focus {
  outline: none;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  align-items: end;
  margin: 0.8rem 24px;
}

.logo {
  width: 254px;
}

#myBtn {
  cursor: pointer;
  font-family: GildaDisplay;
  display: flex;
  margin-top: 9px;
}

/* Carousel Styles */

#owl-demo {
  margin-left: 24px;
  position: relative;
}

#owl-demo .item img {
  display: block;
  width: 90%;
  height: 600px;
}

.owl-carousel {
  width: 37%;
}

.owl-dots {
  width: 91.3%;
  display: flex;
  justify-content: flex-end;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 5px;
}

.page-container {
  display: flex;
  position: relative;
}

.slider-counter {
  position: absolute;
  top: 96.9%;
  left: 1.5%;
  font-family: GildaDisplay;
}

/* Text Styles */

.text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 400px;
  text-align: left;
  flex-grow: 1;
}

.text-header {
  font-size: 20px;
  font-family: GildaDisplay;
  margin-bottom: 42px;
  color: #2f2f2f;
  letter-spacing: 0.29px;
}

.text-description {
  font-size: 15px;
  font-family: Karla;
  color: #2f2f2f;
  line-height: 28px;
  width: 411px;
  letter-spacing: 0.21px;
}

.model-img-text {
  margin-bottom: 35px;
  /* filter: invert(61%) sepia(9%) saturate(2085%) hue-rotate(314deg)
    brightness(111%) contrast(95%); */
}

/* Others */

.next-page-arrow {
  position: absolute;
  bottom: 30px;
  right: 28px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 719px;
}

.back-arrow-img {
  transform: rotate(-180deg);
  height: 12px;
  width: 43px;
  margin-right: 10px;
}

.next-btn-link {
  display: flex;
  text-decoration: none;
  font-family: Karla;
  font-size: 13.5px;
  line-height: 1.7;
  letter-spacing: 4.82px;
  align-items: center;
  color: #2f2f2f;
}

.liz-video-dress {
  height: auto;
  width: 547px;
  position: absolute;
  left: -21px;
}

.next-arrow-img {
  width: 43px;
  height: 12px;
  margin-left: 10px;
}

.mobile-divider {
  display: none;
  color: #e8e8e8;
}

.next-model-mobile {
  display: none;
}

.footer-arrow-back {
  display: none;
}

.footer-arrow-next {
  display: none;
}

.dress-price {
  text-transform: uppercase;
  font-family: Karla;
  letter-spacing: 0.21px;
  line-height: 28px;
  font-size: 15px;
  color: #2f2f2f;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  /* height: 100vh; */
}

.fw-2020-modal-logo {
  width: 156px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 28px 24px; */
  border: 1px solid #888;
  height: 100%;
  overflow-y: scroll;
}

.modal-content-logo-mobile {
  display: none;
}

.icon-margin {
  margin: 0 5px;
}

.social-icons {
  margin: 0 0 55px 0;
}

.liz-site-link {
  margin: 27px 0;
  font-family: GildaDisplay;
  text-transform: uppercase;
  color: #2f2f2f;
}

.liz-site-link a {
  text-decoration: none;
  color: #2f2f2f;
}

.modal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
}

.modal-logo {
  width: 259px;
}

.modal-text-container {
  text-align: center;
  margin-top: 10px;
}

.modal-description {
  margin: 0;
}

.strong {
  font-weight: bold;
}

.modal-text {
  width: 700px;
  height: 449px;
  font-family: Karla;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.21px;
  text-align: center;
  color: #2f2f2f;
  margin: 20px auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.play-btn {
  background-color: #666;
  border: medium none;
  color: #fff;
  display: block;
  font-size: 18px;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
  border-radius: 50%;
  height: 78px;
  cursor: pointer;
}

.hide-video-btn {
  display: none;
}

video {
  position: relative;
}

.video-item {
  height: 575px;
}

/* Media Queries */

@media screen and (max-width: 450px) {
  /* Safari modal fix */
  _::-webkit-full-page-media,
  _:future,
  :root .safari_only {
    padding-bottom: 65px;
  }

  .logo {
    width: 157px;
  }

  .video-item {
    height: 415px;
  }

  .just-liz {
    width: 98px;
  }

  .fw-2020-modal-logo {
    width: 131px;
  }

  html,
  body {
    overflow-x: hidden;
  }

  ul {
    margin: 15px 15px;
    align-items: center;
  }

  .page-container {
    flex-direction: column;
  }

  .text-container {
    align-self: unset;
    margin-left: 15px;
    margin-top: 50px;
    height: auto;
  }

  .text-description {
    font-size: 13.5px;
    padding: 0 15px 0 0;
    width: unset;
  }

  .text-header {
    margin-bottom: 22px;
  }

  .model-img-text {
    margin-bottom: 5px;
    width: 313px;
  }

  .next-page-arrow {
    display: none;
  }

  .owl-dots {
    width: 92.6%;
  }

  .owl-carousel {
    width: 100%;
  }

  #owl-demo {
    margin-left: 15px;
  }

  .slider-counter {
    top: 53.9%;
    left: 4.5%;
  }

  .model-image {
    max-width: 92%;
    max-height: 444px;
  }

  .mobile-divider {
    display: inline-block;
    width: 90%;
    border: 1px solid;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .footer-next {
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  .footer-arrow-next {
    display: inline-block;
    margin-right: 15px;
    margin-top: 4px;
  }

  .footer-arrow-back {
    display: inline-block;
  }

  .next-model-mobile {
    display: inline-block;
    font-family: Karla;
    font-size: 13.5px;
    line-height: 1.7;
    letter-spacing: 4.82px;
    color: #2f2f2f;
    margin: 0 0 10px 0px;
  }

  .next-arrow-img {
    width: 43px;
    height: 12px;
    margin-left: 5px;
  }

  .arrow-container-back {
    display: flex;
    align-items: baseline;
  }

  .arrow-container-next {
    display: flex;
    align-items: end;
  }

  /* Modal */

  .modal-logo {
    width: 157px;
  }

  .close {
    width: 24px;
  }

  .modal-content {
    /* padding: 17px 12px; */
    width: 100%;
    height: 100vh;
  }

  .modal-text {
    width: unset;
    padding: 0 10px;
  }

  .modal-description {
    line-height: 1.73;
    letter-spacing: 0.21px;
    color: #2f2f2f;
  }

  .modal-content-logo {
    display: none;
  }

  .modal-content-logo-mobile {
    display: inline;
  }
  /* Video slide */
  .liz-video-dress {
    height: auto;
    width: 355px;
    position: absolute;
    left: -15px;
  }

  /* images counters */

  .slider-counter-1 {
    top: 46.6%;
    left: 4.5%;
  }

  .slider-counter-2 {
    top: 46.5%;
  }

  .slider-counter-3 {
    top: 48.5%;
  }

  .slider-counter-4 {
    top: 49.5%;
  }

  .slider-counter-5 {
    top: 50%;
  }

  .slider-counter-6 {
    top: 48.8%;
  }

  .slider-counter-7 {
    top: 45.5%;
  }

  .slider-counter-8 {
    top: 48%;
  }
  .slider-counter-9 {
    top: 48.8%;
  }

  .slider-counter-10 {
    top: 45.5%;
  }

  .slider-counter-11 {
    top: 47%;
  }

  .slider-counter-12 {
    top: 48%;
  }
  .slider-counter-13 {
    top: 47%;
  }

  .slider-counter-14 {
    top: 47%;
  }

  .slider-counter-15 {
    top: 48%;
  }

  .slider-counter-16 {
    top: 48.8%;
  }

  .slider-counter-17 {
    top: 46.5%;
  }
}

@media screen and (max-width: 1441px) and (min-width: 795px) {
  .page-container {
    height: 88vh;
    align-items: center;
  }

  #owl-demo .item img {
    height: 645px;
    width: 100%;
  }

  .owl-dots {
    width: 101%;
  }

  .slider-counter {
    position: absolute;
    top: 95.3%;
    left: 1.8%;
  }
}
